<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>
    <div class="ui container main">
        <div class="ui stackable grid">
            <div class="ui four wide column">
                <div class="ui vertical menu">
                    <a href="{% url 'index' %}" class="active teal item">
                        Dashboard
                    </a>
                    <a href="{% url 'search' %}" class="item">
                        Search
                    </a>
                    {% if user_staff %}
                    <a href="{% url 'borrowed_books' %}" class="item">
                        Borrowed books
                    </a>
                    <a href="{% url 'checkout' %}" class="item">
                        Borrow a book
                    </a>
                    <a href="{% url 'newbook' %}" class="item">
                        New book
                    </a>
                    <a href="{% url 'newpublication' %}" class="item">
                        New book title
                    </a>
                    <a href="{% url 'addstaff' %}" class="item">
                        Add a staff account
                    </a>
                    <a href="{% url 'pendingrequests' %}" class="item">
                        Pending user join requests
                    </a>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="item">
                        Logout
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="ui twelve wide column">

                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
<style>
    .main {
        margin-top: 2em;
    }
</style>

</html>