{% extends "base.html" %}
{% block content %}
<h2>All borrowed books</h2>
<div class="ui input"><input type="text" id="booksearch" placeholder="Search for books"></div>
<div id="books">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Title</th>
                <th>ACC #</th>
                <th>Borrower</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="results">
        </tbody>
    </table>
</div>
<!-- 
<tr id="{{i.book.acc}}">
                <td><a href="">{{ i.book.publication }}</a></td>
                <td>{{ i.book.acc }}</td>
                {% if not i.borrower %}
                <td>{{ i.user.borrower }}</td>
                {% else %}
                <td>{{ i.borrower }}</td>
                {% endif %}
                <td><a href="">Checkin</a></td>
            </tr>
 -->
<script>
    function makeHTMLFromJSON(json_) {
        var starter_template = function (pub_string, book_acc, publication, borrower) {
            return `
        <tr>
                <td><a href="/titles/${pub_string}/book/${book_acc}">${publication}</a></td>
                <td>${book_acc}</td>
                <td>${borrower}</td>
                <td><a href="/checkin/${pub_string}/book/${book_acc}">Mark as returned</a></td>
        </tr>
        `;
        };
        return starter_template(json_["pub-string"], json_["book-acc"], json_["publication"], json_["borrower"]);
    }
    _results = [];
    $().ready(function () {
        $.ajax({
            url: "{% url 'api_get_borrowed_books' %}",
            success: function (results) {
                for (var i = 0; i < results.results.length; i++) {
                    _results.push(makeHTMLFromJSON(results.results[i]))
                }
                for (var i = 0; i < _results.length; i++) {
                    $("#results").append($(_results[i]));
                }
            }
        })
        $("#booksearch").keyup(function () {
            console.log($("#booksearch").val());
            $.get(
                "{% url 'api_get_borrowed_books' %}",
                { query: $("#booksearch").val() },
                function (results) {
                    var _results = [];
                    $("#results").html("<tbody id='results'></tbody>")
                    for (var i = 0; i < results.results.length; i++) {
                        _results.push(makeHTMLFromJSON(results.results[i]))
                    }
                    for (var i = 0; i < _results.length; i++) {
                        $("#results").append($(_results[i]));
                    }
                }
            )
        })
    });
</script>
{% endblock %}