{% extends "base.html" %}
{% block content %}
<form action="{% url 'search' %}" method="POST">
    {% csrf_token %}
    <div class="ui input">
        {{ form }}
    </div><button class="ui button red" style="margin-left: 0.5em;" type="submit">Go</button>
</form>
<div id="results">
    {% if search_text %}
    <h2>Search results for {{ search_text }}</h2>
    {% else %}
    <h2>Search results for absolutely nothing</h2>
    {% endif %}
    <h3>Books</h3>
    {% if book_results %}
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>ACC #</th>
            </tr>
        </thead>
        <tbody>
            {% for i in book_results %}
            <tr>
                <td><a href="{% url 'titles' i.publication.slug i.acc %}">{{ i.publication.title }}</a></td>
                <td>{{ i.publication.author.name }}</td>
                <td>{{ i.publication.genre }}</td>
                <td>{{ i.acc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    {% if search_text %}
    <h4>Your search ('{{ search_text }}') did not match any books in the library database.</h4>
    {% endif %}
    {% endif %}
    <h3>Authors</h3>
    {% if author_results %}
    {% for a in author_results %}
    <script>
        console.log("Author: {{a.name}} Books: {{ a.books.first }}")
    </script>
    Books written by {{ a.name }}:
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>ACC #</th>
            </tr>
        </thead>
        <tbody>
            {% for key, val in books_from_authors.items %}
            {% if a.name == key %}
            {% for i in val %}
            <tr>
                <td><a href="{% url 'titles' i.publication.slug i.acc %}">{{ i.publication.title }}</a></td>
                <td>{{ i.publication.genre }}</td>
                <td>{{ i.acc }}</td>
            </tr>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    {% else %}
    {% if search_text %}
    <h4>Your search ('{{ search_text }}') did not match any authors in the library database.</h4>
    {% endif %}
    {% endif %}

</div>
{% endblock %}