{% extends "base.html" %}
{% block content %}
<form action="/books/search/" method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
</form>
<div id="results">
    {% if results %}
    <h2>Search results for {{ search_text }}</h2>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>ACC #</th>
            </tr>
        </thead>
        <tbody>
            {% for i in results %}
            <tr>
                <td><a href="{% url 'titles' i.publication.slug i.acc %}">{{ i.publication.title }}</a></td>
                <td>{{ i.publication.author.name }}</td>
                <td>{{ i.publication.genre }}</td>
                <td>{{ i.acc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
        {% else %}
        <h2>Your search ('{{ search_text }}') did not match any books in the library database.</h2>
        {% endif %}
</div>
{% endblock %}