{% extends "base.html" %}
{% block content %}
<form action="{% url 'search' %}" method="POST">
    {% csrf_token %}
    <div class="ui input">{{ form }}<button type="submit" class="ui button">Go</button></div>
</form>
<p>You belong to: <strong>{{ user_staff.library }}</strong></p>
<a href="{% url 'borrowed_books' %}">
    <div class="ui card">
        <div class="content">
            <i class="ui icon book"></i>
            View all borrowed books
            <br>
        </div>
    </div>
</a>
<a href="{% url 'addstaff' %}">
    <div class="ui card">
        <div class="content">
            Add a new staff account
        </div>
    </div>
</a>
{% endblock %}