{% extends "base.html" %}
{% block content %}
<form action="{% url 'search' %}" method="POST">
    {% csrf_token %}
    <div class="ui input">{{ form }}<button type="submit" class="ui button">Go</button></div>
</form>
<p>You belong to: <strong>{{ user_staff.library }}</strong></p>

<div class="ui card">
    <div class="content">
        <a href="{% url 'borrowed_books' %}">
            <i class="ui icon book"></i>
            View all borrowed books
        </a>
        <br>
    </div>
</div>

<div class="ui card">
    <div class="content">
        <a href="{% url 'addstaff' %}">
            Add a new staff account
        </a>
    </div>
</div>
{% endblock %}