{% extends "base.html" %}
{% block content %}
<h2>Please select your library</h2>
<form action="{% url 'index' %}" method="POST" class="ui form">
    {% csrf_token %}
    {{ form.library }}
    {% if show_borrower %}
    <div class="ui search">
        {{ form.borrower }}
        <div class="results"></div>
    </div>
    {% endif %}
    <button class="ui button" type="submit" style="margin-top:1em;">Submit</button>
</form>

<script>
    $('.ui.search')
        .search({
            // change search endpoint to a custom endpoint by manipulating apiSettings
            apiSettings: {
                url: '/apisearch/?name={query}&&origin=userconfig',
                onSelect: function (result) {
                    $('input[name="borrower"]').val(result.title);
                },
                onResponse: function (response) {
                    console.log(response);
                    var res = {
                        results: []
                    }
                    response.results.forEach(function (result) {
                        res.results.push({ 'title': result, 'description': result });
                    })
                    console.log(res);
                    return res
                }
            },
            maxResults: 200,
        })
        ;

</script>
{% endblock %}